<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Smoke-SuiteFailed Tests</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b6d63">  <td>18/12/16 11:54:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterClassImplementation(org.testng.ITestContext)[pri:0, instance:AccountSummary.verifyInitialAccountValuesAreCorrect@20e2cbe0]">&lt;&lt;afterClassImplementation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1020923989</td>   <td></td> </tr>
<tr bgcolor="9b6d63">  <td>18/12/16 11:54:20</td>   <td>-2624</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterMethodImplementation(org.testng.ITestResult)[pri:0, instance:AccountSummary.verifyInitialAccountValuesAreCorrect@20e2cbe0]">&lt;&lt;afterMethodImplementation</td> 
<td>&nbsp;</td>  <td>main@1020923989</td>   <td></td> </tr>
<tr bgcolor="9b6d63">  <td>18/12/16 11:54:21</td>   <td>-1924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterMethodImplementation(org.testng.ITestResult)[pri:0, instance:AccountSummary.verifyInitialAccountValuesAreCorrect@20e2cbe0]">&lt;&lt;afterMethodImplementation</td> 
<td>&nbsp;</td>  <td>main@1020923989</td>   <td></td> </tr>
<tr bgcolor="9b6d63">  <td>18/12/16 11:54:21</td>   <td>-1023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterMethodImplementation(org.testng.ITestResult)[pri:0, instance:AccountSummary.verifyInitialAccountValuesAreCorrect@20e2cbe0]">&lt;&lt;afterMethodImplementation</td> 
<td>&nbsp;</td>  <td>main@1020923989</td>   <td></td> </tr>
<tr bgcolor="9b6d63">  <td>18/12/16 11:54:22</td>   <td>-338</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterMethodImplementation(org.testng.ITestResult)[pri:0, instance:AccountSummary.verifyInitialAccountValuesAreCorrect@20e2cbe0]">&lt;&lt;afterMethodImplementation</td> 
<td>&nbsp;</td>  <td>main@1020923989</td>   <td></td> </tr>
<tr bgcolor="9b6d63">  <td>18/12/16 11:54:23</td>   <td>601</td> <td title="&lt;&lt;TestConfiguration.afterSuite(org.testng.ITestContext)[pri:0, instance:AccountSummary.verifyInitialAccountValuesAreCorrect@20e2cbe0]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1020923989</td>   <td></td> </tr>
<tr bgcolor="9b6d63">  <td>18/12/16 11:54:06</td>   <td>-16720</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeClassImplementation()[pri:0, instance:AccountSummary.verifyInitialAccountValuesAreCorrect@20e2cbe0]">&gt;&gt;beforeClassImplementation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1020923989</td>   <td></td> </tr>
<tr bgcolor="9b6d63">  <td>18/12/16 11:54:19</td>   <td>-3256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeMethodImplementation(java.lang.reflect.Method)[pri:0, instance:AccountSummary.verifyInitialAccountValuesAreCorrect@20e2cbe0]">&gt;&gt;beforeMethodImplementation</td> 
<td>&nbsp;</td>  <td>main@1020923989</td>   <td></td> </tr>
<tr bgcolor="9b6d63">  <td>18/12/16 11:54:20</td>   <td>-2271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeMethodImplementation(java.lang.reflect.Method)[pri:0, instance:AccountSummary.verifyInitialAccountValuesAreCorrect@20e2cbe0]">&gt;&gt;beforeMethodImplementation</td> 
<td>&nbsp;</td>  <td>main@1020923989</td>   <td></td> </tr>
<tr bgcolor="9b6d63">  <td>18/12/16 11:54:21</td>   <td>-1606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeMethodImplementation(java.lang.reflect.Method)[pri:0, instance:AccountSummary.verifyInitialAccountValuesAreCorrect@20e2cbe0]">&gt;&gt;beforeMethodImplementation</td> 
<td>&nbsp;</td>  <td>main@1020923989</td>   <td></td> </tr>
<tr bgcolor="9b6d63">  <td>18/12/16 11:54:22</td>   <td>-701</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeMethodImplementation(java.lang.reflect.Method)[pri:0, instance:AccountSummary.verifyInitialAccountValuesAreCorrect@20e2cbe0]">&gt;&gt;beforeMethodImplementation</td> 
<td>&nbsp;</td>  <td>main@1020923989</td>   <td></td> </tr>
<tr bgcolor="9b6d63">  <td>18/12/16 11:54:06</td>   <td>-16735</td> <td title="&gt;&gt;TestConfiguration.beforeSuite(org.testng.ITestContext)[pri:0, instance:AccountSummary.verifyInitialAccountValuesAreCorrect@20e2cbe0]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1020923989</td>   <td></td> </tr>
<tr bgcolor="b4909b">  <td>18/12/16 11:54:19</td>   <td>-3256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="verifyInitialAccountValuesAreCorrect.checkAccountsContent(Data.Enums.AccountModelTypeEnum, java.lang.String)[pri:1, instance:AccountSummary.verifyInitialAccountValuesAreCorrect@20e2cbe0]">checkAccountsContent</td> 
  <td>main@1020923989</td>   <td></td> </tr>
<tr bgcolor="b4909b">  <td>18/12/16 11:54:20</td>   <td>-2271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="verifyInitialAccountValuesAreCorrect.checkAccountsContent(Data.Enums.AccountModelTypeEnum, java.lang.String)[pri:1, instance:AccountSummary.verifyInitialAccountValuesAreCorrect@20e2cbe0]">checkAccountsContent</td> 
  <td>main@1020923989</td>   <td></td> </tr>
<tr bgcolor="b4909b">  <td>18/12/16 11:54:21</td>   <td>-1606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="verifyInitialAccountValuesAreCorrect.checkAccountsContent(Data.Enums.AccountModelTypeEnum, java.lang.String)[pri:1, instance:AccountSummary.verifyInitialAccountValuesAreCorrect@20e2cbe0]">checkAccountsContent</td> 
  <td>main@1020923989</td>   <td></td> </tr>
<tr bgcolor="b4909b">  <td>18/12/16 11:54:22</td>   <td>-701</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="verifyInitialAccountValuesAreCorrect.checkAccountsContent(Data.Enums.AccountModelTypeEnum, java.lang.String)[pri:1, instance:AccountSummary.verifyInitialAccountValuesAreCorrect@20e2cbe0]">checkAccountsContent</td> 
  <td>main@1020923989</td>   <td></td> </tr>
</table>
